@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');

@font-face {
    font-family: 'Cascadia Mono PL';
    src: url('./fonts/CascadiaMonoPL.woff2') format('woff2'),
        url('./fonts/CascadiaMonoPL.ttf') format('ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply m-0;
        font-family: 'Noto Sans KR', sans-serif;
    }

    code {
        font-family: 'Cascadia Mono PL', monospace;
    }
}
